.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.chart-container{
    width: 90vw;
    height: 70vh;
}

.set-threshold-btn{
    width: 8rem;
    height: 3rem;
}
.input-container{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}