.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.chart-container{
    width: 90vw;
    height: 70vh;
}

.set-threshold-btn{
    width: 2rm;
    height: 5rm;
}